body {
    -moz-transition:4s all ease;
    -webkit-transition:4s all ease;
}
 
.roll {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

body {
	margin: 0;
    padding: 0;
	background: transparent url('div.jpg') repeat center center;
}

header {
	margin: 0;
    padding: 0;
	font-family:Comic Sans MS;
	margin-left:12%;
	font-size: 2vw;
	background: transparent url('header.jpg') no-repeat center center;
	color: white;
}

#div_1,#div_2,#div_3,#div_4 {
	margin: 0;
    padding: 0;
	font-family:Comic Sans MS;
	padding:1px 16px;
    margin-left:12%;
	font-size: 1.5vw; 
	color: white;
}



h1{
	font-size: 3vw !important;
}

h2,h3,h4{
	font-size: 2.5vw !important;
}

table{
    border: 5px solid black;
	background-color: #252226;
	width:75%
}

th,td {
    border: 5px solid black;
	background-color: #252226;
	width:50%
}

#headtable {
    border: 0px solid black;
	background-color: transparent; 
	width:70%
}

#supertd, #supertd2{
    border: 0px solid black;
	background-color: transparent; 
	width:50%
}

#Carousel {
	margin: 0;
    padding: 0;
	font-size: 3vw; 
	text-align: center
}

#CarouselK {
	margin: 0;
    padding: 0;
	font-size: 3vw; 
	text-align: center;
	width:50%;
	height:50%;
}

img {
width:100%;
height:50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;	
    position: fixed;
    height: 100%;
	width: 12%;
	overflow: auto;
	font-size: 1.5vw;
	border: 1px solid #555;	
	background: transparent url('header.jpg') no-repeat center center;	
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}